# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Lint & Test
    runs-on: ubuntu-latest

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.1
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v2
    - name: Set-up node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: yarn
    - run: yarn downloadCustomTypes
    - run: yarn lint
    - run: yarn test

  build:
    name: Build & Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.1
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v2
    - name: Set-up node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: yarn
    - run: yarn downloadCustomTypes
    - run: yarn build
      env:
        PUBLIC_URL: 'https://paritytech.github.io/parity-bridges-ui'
    - name: Deploy to GitHub Pages
      if: success() && github.ref == 'refs/heads/master'
      uses: crazy-max/ghaction-github-pages@v2
      with:
        target_branch: gh-pages
        build_dir: build
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
